<style>
     
        .intro-section {
            text-align: center;
            color: white;
            padding: 20px;
        }
        .search_box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .product-category {
            width: 200px;
        }
        .search-input {
            width: 300px;
            background-color: rgb(19, 23, 42);
            margin-right: 10px;
            border-color: rgba(255, 255, 255, 0.5);
            color: white;
        }
        .form-control {
            background-color: transparent;
            color: white;
        }
        .form-control::placeholder {
            color:  rgba(255, 255, 255, 0.5);
            opacity: 1;
        }
        .product-item {
            background-color: rgb(19, 23, 42);
            border:  1px solid rgb(35, 39, 61);
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .product-image {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        .product-name {
            color: white;

        }
        .product-description {
            color:  rgb(173, 178, 203);
        }
        .product-warrantly {
            color: rgb(242, 123, 212);
        }
        .product-price {
            color: white;

        }
        .product-rating {
            color: #FFD700;
            margin-top: 10px;
        }
        .product-actions {
            display: flex;
            margin-top: 10px;
            justify-content: center;
        }
        .space-x {
            margin: 5px;
        }
    
</style>

<div class="container">
    <div class="intro-section">
        <h1>day la trang home</h1>
        <p>trang nay hien thi hinh anh sam oham</p>
    </div>
    <div class="search_box">
        <input type="text" class="form-control search-input" placeholder="Tìm kiếm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled> Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Hải sản</option>
            <option>Bánh kẹo</option>

        </select>
  
  
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://img.freepik.com/free-photo/side-view-smiley-woman-holding-hen_23-2149456919.jpg?t=st=1696238101~exp=1696238701~hmac=71d718ddd307c6f0b92ee567400b4b56ba060a7d903ffdddfe0442df5125c32b"
                alt="Product Image"
                class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem impsum dolor sit amet, consectetur ad...</p>
                <p class="product-warrantly">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>

                    <button class="btn btn-success">Mua ngay</button>
                </div>
                
          
          
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://img.freepik.com/free-photo/side-view-smiley-woman-holding-hen_23-2149456919.jpg?t=st=1696238101~exp=1696238701~hmac=71d718ddd307c6f0b92ee567400b4b56ba060a7d903ffdddfe0442df5125c32b"
                alt="Product Image"
                class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem impsum dolor sit amet, consectetur ad...</p>
                <p class="product-warrantly">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>

                    <button class="btn btn-success">Mua ngay</button>
                </div>
                
          
          
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://img.freepik.com/free-photo/side-view-smiley-woman-holding-hen_23-2149456919.jpg?t=st=1696238101~exp=1696238701~hmac=71d718ddd307c6f0b92ee567400b4b56ba060a7d903ffdddfe0442df5125c32b"
                alt="Product Image"
                class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem impsum dolor sit amet, consectetur ad...</p>
                <p class="product-warrantly">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>

                    <button class="btn btn-success">Mua ngay</button>
                </div>
                
          
          
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://img.freepik.com/free-photo/side-view-smiley-woman-holding-hen_23-2149456919.jpg?t=st=1696238101~exp=1696238701~hmac=71d718ddd307c6f0b92ee567400b4b56ba060a7d903ffdddfe0442df5125c32b"
                alt="Product Image"
                class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem impsum dolor sit amet, consectetur ad...</p>
                <p class="product-warrantly">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>

                    <button class="btn btn-success">Mua ngay</button>
                </div>
                
          
          
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://img.freepik.com/free-photo/side-view-smiley-woman-holding-hen_23-2149456919.jpg?t=st=1696238101~exp=1696238701~hmac=71d718ddd307c6f0b92ee567400b4b56ba060a7d903ffdddfe0442df5125c32b"
                alt="Product Image"
                class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem impsum dolor sit amet, consectetur ad...</p>
                <p class="product-warrantly">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>

                    <button class="btn btn-success">Mua ngay</button>
                </div>
                
          
          
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://img.freepik.com/free-photo/side-view-smiley-woman-holding-hen_23-2149456919.jpg?t=st=1696238101~exp=1696238701~hmac=71d718ddd307c6f0b92ee567400b4b56ba060a7d903ffdddfe0442df5125c32b"
                alt="Product Image"
                class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem impsum dolor sit amet, consectetur ad...</p>
                <p class="product-warrantly">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>

                    <button class="btn btn-success">Mua ngay</button>
                </div>
                
          
          
            </div>
        </div>
        
    </div>
</div>